{% load posts_tags_filters %}
<style>
  #cat_nav {
    background-color: #252525;
    -webkit-box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 8px 10px 2px rgba(34, 60, 80, 0.2);
  }
  .cat_a {
    color: #2EC077;
    text-decoration: none;
    text-transform: uppercase;
  }

  .cat_a:hover {
    color: #2C9762;
  }

  .cat_nav_wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }
</style>
<div id="cat_nav" class="container_fluid">
  <div class="row">
    <div class="cat_nav_wrapper">
      {% for category in categories %}
        <div>
          <a class="cat_a" href="{{ category.get_absolute_url }}">{{ category.name }}({{ category|count_is_published }})</a>
        </div>
      {% endfor %}
      <div>
        <a class="cat_a" href="{% url 'posts:categories_list' %}">Все категории...</a>
      </div>
    </div>
  </div>
</div>
