<nav class="nav">
  <div class="container-fluid">
    <a href="#" class="navbar-logo">W3Xforum</a>
    <div class="navbar-wrap">
      <ul class="navbar-menu" style="margin: auto;">
        <li>
          <a class="navbar-ref" href="/">Главная</a>
        </li>
        <li>
          <a class="navbar-ref" href="{% url 'posts:posts_list' %}">Посты</a>
        </li>
        <li>
          <a class="navbar-ref" href="{% url 'posts:post_add' %}">Предложить пост</a>
        </li>
      </ul>
      <div class="nav-user-menu">
        {% if user.is_authenticated %}
          <a class="nav-user-ref" href="{% url 'auth:logout' %}" alt="-">Выход</a>
          <a href="#" alt="-"><img class="nav-user-avatar" src="{{ user.avatar.url }}" alt="-"></a>
        {% else %}
          <a class="nav-user-ref" href="{% url 'auth:login' %}" alt="-">Вход</a>
          <a class="nav-user-ref" href="{% url 'auth:register' %}" alt="-">Регистрация</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>