{% extends 'base_temp.html' %}
{% load static %}
{% block title %}Успешная регистрация{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/user_reg_complete.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 25px;">
            <div class="col-6">
                <div>
                    <h2>Успешная регистрация</h2>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col">
                <p>
                    Пользователь зарегистрирован
                </p>
            </div>
        </div>
    </div>
{% endblock %}