{% extends 'base_temp.html' %}
{% load static %}
{% block title %}Авторизация{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}
{% block content %}
<form method="post">
    <div class="form-wrapper">
        <h2>Авторизация</h2>
        <div class="error-text">{{ form.non_field_errors }}</div>
        {% if form.errors %}
              {% for field in form %}
                   {% for error in field.errors %}
                        <p class="error-text">{{ error|escape }}</p>
                   {% endfor %}
              {% endfor %}
        {% endif %}
        {% csrf_token %}
        <div class="form-element">{{ form.username }}</div>
        <div class="form-element">{{ form.password }}</div>
        <div class="form-element default-ref"><a href="{% url 'auth:pswrdrec_mail' %}">Забыли пароль?</a></div>
        <div class="form-element"><button type="submit" class="btn button">Войти</button></div>
    </div>
</form>
{% endblock %}