{% extends 'base_temp.html' %}
{% block title %}{{ current_post.title }}{% endblock %}
{% block content %}
  {% include '_inc/_cat_navbar.html' %}
    {% if current_post.is_published %}
      <div>
        <ul>
          <li>
            {{ current_post.title }}
          </li>
          <li>
            {{ current_post.category }}
          </li>
          {% if current_post.image_set.all %}
            {% for images in current_post.image_set.all %}
              <li><img src="{{ images.imgs.url }}" alt="-" width="300px" height="250px"></li>
            {% endfor %}
          {% endif %}
          <li>
            {{ current_post.content }}
          </li>
          <li>
            {{ current_post.author }}
          </li>
          <li>
            Опубликовано: {{ current_post.published }}   Отредактировано: {{ current_post.edited }}
          </li>
          <li>
            <a href="/posts/" alt="-">Назад</a>
          </li>
        </ul>
      </div>
    {% endif %}
{% endblock %}